
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100;1,300&display=swap');

*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    --full-screen-menu:  #F15A29;

}

.main {
    display: flex;
    flex-direction: column;
}
.top {
    background-image: url("images/landing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    margin-top: 0;
    padding-top: 0;
}

.icons {
    margin-top: 2%;
    margin-left: 5%;
    width: 20;
}
#menu-btn {
    color: #fff;
    font-size: 70px;
}

.in {
    align-items: center;
    margin-left: 40%;
}
.top img {
    width: 300px;
    height: 300px;
}

.top p {
    align-items: center;
    color: #fff;
    font-size: 30px;
}

.bottom {
    height: 290px;
    display: flex;
    flex-direction: row;
    width: 100%;
    
  }

#one {
    display: block;
    width: 25%;
    height: 100%;
}
#up {
    background-color: #fff;
    height: 145px;
    position: relative;
}
#up h3 {
    position: relative;
    top: 50%;
    bottom: 50%;
    text-align: center;
    font-size: 30px;
}
#down {
    background-color: var(--full-screen-menu);
    height: 145px;
    position: relative;
}
#down h3 {
    position: relative;
    top: 50%;
    bottom: 50%;
    text-align: center;
    color: #fff;
    font-size: 30px;
}
#two {
    background-image: url("images/breakfast.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 25%;
    height: 100%;
}
#two p {
    position: relative;
    top: 50%;
    bottom: 50%;
    text-align: center;
    color: #fff;
    font-size: 30px;
}
#three {
    background-image: url("images/lunch.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 25%;
    height: 100%;
}
#three p {
    position: relative;
    top: 50%;
    bottom: 50%;
    text-align: center;
    color: #fff;
    font-size: 30px;
}
#four {
    background-image: url("images/dinner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 25%;
    height: 100%;
}
#four p{
    position: relative;
    top: 50%;
    bottom: 50%;
    text-align: center;
    color: #fff;
    font-size: 30px;
}

/*--------------------------page two--------------------------------------------------------*/



  


